article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

a:focus {
    outline: thin dotted
}

a:active,
a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

mark {
    background: #ff0;
    color: #000
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre-wrap
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button,
input {
    line-height: normal
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.grid {
    margin: 10px auto;
    padding: 0;
    list-style: none;
    min-height: 500px
}

.js .grid {
    background: url(../img/loading.gif) no-repeat 50% 100px
}

.js .grid.loaded {
    background: none;
    margin: 0;
}

.js .grid li {
    display: none;
    float: left
}

.js .grid.loaded li {
    display: block;
    padding: 0;
}

.grid li > a,
.grid li img {
    display: block;
    outline: none;
    border: none
}

.grid li > a {
    position: relative;
    overflow: hidden;
    margin: 3px
}

.grid .curtain {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
}

.grid.swipe-right .curtain {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}

.grid.swipe-down .curtain {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0)
}

.grid.swipe-rotate .curtain {
    width: 200%;
    height: 200%;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
    -webkit-transform-origin: top left;
    transform-origin: top left
}

.grid .curtain::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: ''
}

.grid.swipe-right .curtain::after,
.grid.swipe-rotate .curtain::after {
    left: -100%
}

.grid.swipe-down .curtain::after {
    top: -100%
}

.grid li .grid-title {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0 0 20px 0;
    width: 100%;
    background: #fff;
    color: #3A3A3A;
    text-align: left;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 1em;
    -webkit-transition: -webkit-transform 0.2s, color .2s;
    transition: transform 0.2s, color .2s
}

.grid li > a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100.5%;
    height: 100.5%;
    border: 0 solid transparent;
    background: rgba(0, 0, 0, 0);
    content: '';
    -webkit-transition: border-width 0.2s, border-color .2s;
    transition: border-width 0.2s, border-color .2s
}

.grid li.shown:hover .grid-title {
    color: #3A3A3A;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, 0, 0)
}

.grid li.shown:hover > a::before {
    border-width: 0;
    border-color: transparent
}

.grid.swipe-right li.animate .curtain {
    -webkit-animation: swipeRight 1.5s cubic-bezier(0.6, 0, 0.4, 1) forwards;
    animation: swipeRight 1.5s cubic-bezier(0.6, 0, 0.4, 1) forwards
}

@-webkit-keyframes swipeRight {
    50%,
    60% {
        -webkit-transform: translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(100%, 0, 0)
    }
}

@keyframes swipeRight {
    50%,
    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate(0)
    }
    100% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

.grid.swipe-down li.animate .curtain {
    -webkit-animation: swipeDown 1.5s cubic-bezier(0.6, 0, 0.4, 1) forwards;
    animation: swipeDown 1.5s cubic-bezier(0.6, 0, 0.4, 1) forwards
}

@-webkit-keyframes swipeDown {
    50%,
    60% {
        -webkit-transform: translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0)
    }
}

@keyframes swipeDown {
    50%,
    60% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
    100% {
        transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

.grid.swipe-rotate li.animate .curtain {
    -webkit-animation: swipeRotate 1.5s ease forwards;
    animation: swipeRotate 1.5s ease forwards
}

@-webkit-keyframes swipeRotate {
    50%,
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg)
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, -90deg)
    }
}

@keyframes swipeRotate {
    50%,
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg)
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, -90deg);
        transform: rotate3d(0, 0, 1, -90deg)
    }
}

.grid li.animate .curtain::after {
    -webkit-animation: fadeOut 1.5s ease forwards;
    animation: fadeOut 1.5s ease forwards;
    -webkit-animation-delay: inherit;
    animation-delay: inherit
}

@-webkit-keyframes fadeOut {
    50%,
    60% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    50%,
    60% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.js .grid li img,
.js .grid li .grid-title {
    visibility: hidden
}

.grid li.animate img,
.grid li.animate .grid-title {
    -webkit-animation: showMe 1.5s step-end forwards;
    animation: showMe 1.5s step-end forwards
}

@-webkit-keyframes showMe {
    from {
        visibility: hidden
    }
    60%,
    100% {
        visibility: visible
    }
}

@keyframes showMe {
    from {
        visibility: hidden
    }
    60%,
    100% {
        visibility: visible
    }
}

.grid li.shown img,
.grid li.shown .grid-title {
    visibility: visible
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table
}

.clearfix:after {
    clear: both
}

.codrops-header {
    margin: 0 auto;
    padding: 2em;
    text-align: center
}

.codrops-header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 900
}

.codrops-header h1 span {
    display: block;
    padding: .2em 0 .6em .1em;
    font-size: .6em;
    font-weight: 300
}

.codrops-demos {
    padding-top: 50px
}

.codrops-demos a {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px;
    padding: 5px 2px;
    font-weight: 900
}

.codrops-demos a.current-demo {
    color: #2E3444
}

.codrops-top {
    width: 100%;
    text-transform: uppercase;
    font-weight: 800;
    font-style: normal;
    font-size: .69em;
    line-height: 2.2
}

.codrops-top a {
    display: inline-block;
    padding: 0 1em;
    text-decoration: none;
    letter-spacing: 1px
}

.codrops-top span.right {
    float: right
}

.codrops-top span.right a {
    display: block;
    float: left
}

.codrops-icon:before {
    margin: 0 4px;
    text-transform: none;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased
}

.codrops-icon-drop:before {
    content: "\e001"
}

.codrops-icon-prev:before {
    content: "\e004"
}

.related {
    padding: 15em 0 3em;
    clear: both
}

.related p {
    font-size: 1.5em
}

.related > a {
    border: 1px solid #2E3444;
    display: inline-block;
    text-align: center;
    margin: 20px 10px;
    padding: 25px;
    color: #2E3444
}

.related a:hover {
    border-color: #FF2A48;
    color: #FF2A48
}

.related a img {
    max-width: 100%;
    opacity: .8
}

.related a:hover img,
.related a:active img {
    opacity: 1
}

.related a .grid-title {
    margin: 0;
    padding: .5em 0 .3em;
    max-width: 300px;
    text-align: left
}
.grid-category {
  display: flex;
  width: 100%;
  font-size: 18px;
  color: #888E87;
  font-weight: 200;
}
.grid-date {
  display: flex;
  width: 100%;
  font-size: 18px;
  color: #888E87;
  font-weight: 200;
}

.grid-heading {
    color: #3A3A3A;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    margin: -25px 0 10px 0;
}

.grid-text {
    color: #888E87;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
}

@media screen and (max-width: 25em) {
    .codrops-icon span {
        display: none
    }
}
